# Virtual Environment
venv/
env/
.env
.venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Coverage/Testing
.coverage
htmlcov/
.tox/
.nox/
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Environment Variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Extra Database Protection
*.sqlite3
*.db

# Migration Protection
*/migrations/*.py
!*/migrations/__init__.py
