.navbar {
  background-color: var(--navbar-background);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-brand a {
  color: var(--navbar-link-color);
  text-decoration: none;
}

.navbar-links {
  display: flex;
  gap: 1rem;
}

.navbar-links a {
  color: var(--navbar-link-color);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  transition: background-color 0.3s;
}

.navbar-links a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.nav-buttona {
  background-color: var(--navbar-background);
  color: var(--navbar-link-color);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  transition: background-color 0.3s;
  margin-top: 0;
}

.nav-buttona:hover {
  background-color: rgba(255, 255, 255, 0.1);
} 